.our-mission {
  margin: 6rem 0;
  padding: 8rem 0;
  background-color: #e8f2ee;
  .bolder {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .objectives {
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.6px;
    color: rgba(0, 0, 0, 0.438);
    text-align: start;
  }
}
