@import "./config//tester";
@import "./config/font";
@import "./components//scanner";
@import "./components/typeAnimation";
@import "./components/homepage";
@import "./components/footer";
@import "./components/how_it";
@import "./components/three_bars";
@import "./components/go_to";
@import "./components/our_mission";
@import "./components/try_out";
@import "./components/navigation";

body {
  background-color: aliceblue;
  font-family: "Roboto Slab", serif;
}
